.ajax-atc___pop-up--template {
  display: none;
}

.ajax-atc___pop-up--showcase:empty {
  display: none;
}

.ajax-atc___pop-up--showcase {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;
}

.atc-pop-up {
  margin: 20px;
  max-width: 425px;
  background: white;
  -webkit-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.5);
     -moz-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.5);
          box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.5);
}

.atc-pop-up__header {
  padding: 10px 20px;
  background-color: #333;
}

.atc-pop-up__header h3 {
  margin: 0;
  font-size: 16px;
  color: white;
  text-transform: uppercase;
}

.atc-pop-up__message {
  margin-bottom: 10px;
}

.atc-pop-up__content {
  padding: 20px;
  padding-top: 10px;
}
