.sd-ajaxatcart___pop-up--template {
  display: none;
}

.sd-ajaxatcart___pop-up--showcase:empty {
  display: none;
}

.sd-ajaxatcart___pop-up--showcase {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  max-width: 425px;
  z-index: 9999;
}

.sd-ajaxatcart-popup {
  margin: 20px;
  background: white;
  -webkit-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.5);
     -moz-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.5);
          box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.5);
}

.sd-ajaxatcart-popup__header {
  position: relative;
  padding: 10px 20px;
  background-color: #333;
}

.sd-ajaxatcart-popup__header h3 {
  margin: 0;
  font-size: 16px;
  color: white;
  text-transform: uppercase;
}

.sd-ajaxatcart-popup__close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 20px;
  font-size: 12px;
  color: white;
  cursor: pointer;
}

.sd-ajaxatcart-popup__message {
  margin-bottom: 10px;
}

.sd-ajaxatcart-popup__content {
  padding: 20px;
  padding-top: 10px;
}

.sd-ajaxatcart-popup__psuedo-button {
  padding: 11px 20px;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: 0;
  padding: 10px 20px;
  color: #000;
  background-color: #fff;
  border: 1px solid #1e1c1d;
}
